{% extends 'base.html' %}

{% block content %}
<div>
<div class="top-content">
            
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-1 text">
                            <div class="description">
                                <!--    -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-1 form-box">
                            <div class="form-top">
                                
<ul class="mui-tabs__bar mui-tabs__bar--justified">
  <li class="mui--is-active"><a a href="/jargon" data-mui-toggle="tab" data-mui-controls="pane-justified-1">JARGON</a></li>
  <li><a a href="/forum" data-mui-toggle="tab" data-mui-controls="pane-justified-2">FORUM</a></li>
</ul>
<!-- <div class="mui-tabs__pane mui--is-active" id="pane-justified-1">Pane-1 hveq </div> -->
<div class="mui-tabs__pane" id="pane-justified-2">Pane-2</div>
<ul class="mui-tabs__bar mui-tabs__bar--justified">
  <li><a a href="/define" data-mui-toggle="tab" data-mui-controls="pane-justified-1.1">DEFINITION</a></li>
  <li><a a href="/youtube" data-mui-toggle="tab" data-mui-controls="pane-justified-1.2">YOUTUBE</a></li>
  <li class="mui--is-active"><a a href="/courses" data-mui-toggle="tab" data-mui-controls="pane-justified-1.3">COURSERA</a></li>
</ul>
<div class="mui-tabs__pane mui--is-active" id="pane-justified-1.3">
</br>

<form method="POST" action="/coursera">
	{% csrf_token %}
Lookup a course: <input type="text" name="textfield">
    <button type="submit">Upload text</button>
</form>


{% if data %}
    {% for key, value in data %}
    {% if 'query' in value %}
    <tr>
        <a href={{value}}>{{value}}</a></br></br>
    </tr>
    {% endif %}
	{% endfor %}	
{% else %}
    <strong>You haven't looked for anything yet.</strong>
{% endif %}










</div>

<div class="mui-tabs__pane" id="pane-justified-1.2"></div>
{% endblock %}