



{% load staticfiles %}
<html>
    <head>
        <title>Dosts Present Django Blog </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src = "{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/blog.js' %}"></script>


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MUI Landing Page Example</title>
        <link href="//cdn.muicss.com/mui-0.9.35/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.muicss.com/mui-0.9.35/js/mui.min.js"></script>


        
    </head>
    <body>
    
        


        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/ask">ASKMEOUT</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
              </ul>
              
              <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/login"> Login <span class="glyphicon glyphicon-plus"></span></a>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div class="container">
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
          
          <div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">                        
        <h2>Registration</h2>
      </div>
  </div>

  <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4">
          <form id="login-form" class="form" action="#" method="POST" role="form">
          {% csrf_token %}
              <div class="form-group">
                  <label class="form-label" for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Name" tabindex="1" required>
              </div>
              <div class="form-group">
                  <label class="form-label" for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email" tabindex="2" required>
              </div>                            
              <div class="form-group">
                  <label class="form-label" for="password">Password</label>
                  <input type="password" class="form-control" id="passoword" name="password" placeholder="Password" tabindex="3" required>
              </div>
              <div class="text-center">
                  <button type="submit" class="btn btn-start-order">Register</button>
              </div>
          </form>
      </div>
  </div>
</div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    </body>
</html>



